# EDITORCONFIG
# http://editorconfig.org
# ==============================================================================

root = true


# Global rules
# ==========================================================

[*]

# Indentation
indent_style = space
indent_size = 2

# Whitespace and line control
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Charset
charset = utf-8


# File type-specific rules
# ==========================================================

[*.md]

# Whitespace and line control
trim_trailing_whitespace = false
