<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptas.</li>
  <li>Dolore illum rem excepturi magnam culpa repellat blanditiis itaque doloribus?</li>
  <li>Deserunt accusamus repudiandae eum quod hic consequatur ad, dolorem unde?</li>
  <li>Totam dolores vero sit fugiat sint, itaque a corrupti qui.</li>
  <li>
    Iure praesentium vel dignissimos doloribus, aperiam nesciunt quisquam fugiat eligendi.
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, vitae.</li>
      <li>Quas excepturi porro nemo ipsum, sit fugit accusantium delectus odio.</li>
      <li>Facere commodi aut odit totam velit similique beatae laboriosam ad.</li>
      <li>Nobis mollitia fuga sint magni quaerat aliquid consequatur, architecto incidunt.</li>
      <li>Libero assumenda asperiores sequi odio numquam impedit corporis dolores rem.</li>
    </ul>
  </li>
</ul>

<ol>
  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, cum.</li>
  <li>Maiores neque ut ullam, voluptate eum suscipit iusto ab corporis?</li>
  <li>Cupiditate itaque sunt maiores esse debitis laudantium dicta, obcaecati excepturi!</li>
  <li>Quae, laudantium unde minus dicta doloribus temporibus exercitationem architecto repudiandae.</li>
  <li>
    Repudiandae laborum id a itaque molestias voluptatem ipsum ipsam numquam.
    <ol>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, beatae.</li>
      <li>Minus maxime eligendi porro labore soluta animi officia iusto quas.</li>
      <li>Eos molestiae quae magnam placeat nesciunt beatae amet aut sequi!</li>
      <li>Quos rerum enim dolorum delectus veritatis expedita eaque quaerat numquam.</li>
      <li>Minus quae tempora mollitia veritatis pariatur iure hic dignissimos eveniet.</li>
    </ol>
  </li>
</ol>
